body {
    font-family: Arial;
    background-color: #7ce0ff;
    padding: 20px;
}

h1 {
    color: #333;
}

p, ol {
    font-size: 18px;
}

.btn {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.btn:hover {
    background-color: #0056b3;
}
